.box {
    background: white;
    color: #293133;
    box-shadow: 4px 6px 12px black;
}

.body-costum {
    background: #293133;
}

.body-loggedin-costum {
    background: white;
    box-shadow: 4px 6px 12px black;
}

.text {
    font-family: "Gill Sans", sans-serif;
    color: #293133;
}